@media screen and (max-width: 377px) {
    section {
        font-family: 'Open Sans', sans-serif;
        margin: 24px 16px;

        .input-wrapper {
            display: flex;
        }
        
        .icon-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 32px;

            .cn-icon {
                width: 60px;
            }
        }
    }
}